body {
    color:#000;
}

.header {
    height:60px;
    padding:10px;
    border-bottom:1px solid #ccc;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    background:#fff;
}

.notify {
    background:#fbe367;
    position:absolute;
    z-index:99;
    top:60px;
    color:#000 !important;
    font-weight:bold;
    text-align:center;
    padding:5px;
}

.page {
    margin-top:60px;
}

.to-accept .save {
    display:none;
}

.to-save .accept {
    display:none;
}

a.icon {
    width:40px;
    height:40px;
    background: url(sprite2.png) no-repeat;
    background-size: 320px 960px;
    text-indent:-1000px;
    overflow:hidden;
}

a.icon.wide {
    width:80px;
}

a.icon.geolocate {
    background-position:0 0;
}

a.icon.menu {
    background-position:-40px 0;
}

a.icon.accept {
    background-position:-80px -40px;
}

a.icon.save {
    background-position:0px -40px;
}

.bm {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-40px;
}

textarea {
    width:100%;
    border:0;
    font-size:18px;
    padding:5px;
    margin:0;
    color:inherit;
}

.full-width {
  width: 100%;
}
