body {
  margin:0;
  font:normal 14px/20px 'Helvetica Neue';
  padding:0;
  -webkit-font-smoothing:antialiased;
  background:#eee;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

#map {
    height:150px;
    overflow:hidden;
    border-bottom:1px solid #aaa;
}

.curvy {
    border:1px solid #ccc;
    border-top-color:#aaa;
    border-left-color:#aaa;
    border-radius:3px !important;
}

.pad1 {
    padding:5px 5px 0 5px;
}

textarea {
    font:normal 14px/20px 'Helvetica Neue';
    width:100%;
    background:#fff;
    height:100px;
    padding:2px 5px;
    box-shadow:none;
    margin:0;
    -webkit-appearance:none;
}

button.big {
    margin:0;
    font:bold 16px/20px 'Helvetica Neue';
    -webkit-appearance:none;
    background:#0078e7;
    color:#fff;
    width:100%;
    padding:10px;
    border:0;
    border-radius:3px;
    border-bottom:2px solid #00315F;
}

.tiny {
    font:normal 9px/11px 'Helvetica Neue';
}

.small {
    font:normal 12px/14px 'Helvetica Neue';
}

.deemphasize {
    color:#aaa;
}

.center {
    text-align:center;
}

a.deemphasize {
    color:#999;
    border-bottom:1px solid #999;
    text-decoration:none;
}

.drop {
    margin-top:10px;
}
